<div class="cal-options">
    
</div>
<cal-months class="cal-months">
    <div class="cal-months-month"
        ng-repeat="month in $ctrl.months">
        
        <h2 class="cal-months-header">
            {{'Months.' + month.month | translate}}
        </h2>
        <ul class="cal-months-week">
            <li class="cal-months-week_day"
                ng-repeat="weekDay in $ctrl.weekDays">
                {{'Days.' + weekDay | translate}}
            </li>
        </ul>
        <ul class="cal-months-days">
            <li class="cal-months-day"
                ng-class="{'cal-months-day--void': dayInfo.day === -1}"
                ng-repeat="dayInfo in month.days">
                <div class="cal-months-day_wrapper"
                    ng-if="dayInfo.day !== -1">

                    <div class="cal-months-day_info">
                            {{dayInfo.day}}
                    </div>

                    <ul class="cal-months-day_events">
                        <li class="cal-months-day_event cal-months-day_event--add"
                            ng-if="!$ctrl.events[month.month][dayInfo.day].num || $ctrl.events[month.month][dayInfo.day].num < 3"
                            ng-click="$ctrl.onClickEvent(event, month, dayInfo)">
                            ( + )
                        </li>

                        <li class="cal-months-day_event"
                            ng-repeat="(id, event) in $ctrl.events[month.month][dayInfo.day].events"
                            ng-click="$ctrl.onClickEvent(event, month, dayInfo)">
                            {{event.title}}
                        </li>
                    </ul>
                </div>
                <cal-form   month="month.month" 
                            day="dayInfo.day" 
                            event="$ctrl[$ctrl.infoKeyString + month.month + dayInfo.day]"
                            show="$ctrl[$ctrl.popoverKeyString + month.month + dayInfo.day]"
                            toggle="$ctrl[$ctrl.popoverKeyString2 + month.month + dayInfo.day]"></cal-form>
            </li>
        </ul>
    </div>
</cal-months>