<div class="cal-form"
    ng-show="$ctrl.show">

    <div class="cal-form-content">
        <span class="cal-form-close"
                ng-click="$ctrl.close()"">
                    X
        </span>

        <label class="cal-form-label">
                <span class="cal-form-labeltext">
                    Título
                </span>
                <input type="text" 
                        ng-model="$ctrl.information.title"
                        class="form-control cal-form-input">
        </label>

        <label class="cal-form-label">
                <span class="cal-form-labeltext">
                     Tipo de evento
                </span>
                <select class="form-control cal-form-select">
                    <option value="Tipo1">Tipo1</option>
                </select>
        </label>

        <label class="cal-form-label">
                <span class="cal-form-labeltext">
                    Imagen
                </span>
                <input type="file" 
                        ng-file-model="$ctrl.information.image"
                        class="form-control cal-form-input">
        </label>

        <button class="btn btn-primary cal-form-button"
                ng-click="$ctrl.save()">
            Guardar
        </button>
        <button class="btn btn-default cal-form-button"
                ng-click="$ctrl.close()">
            Cancelar
        </button>
        <button class="btn btn-danger cal-form-button"
                ng-if="$ctrl.event.id"
                ng-click="$ctrl.remove()">
            Borrar
        </button>
    </div>

    <div class="cal-form-overlay" ng-click="$ctrl.close()"></div>
</div>