@import '../../base/variables';

.cal-months {
    $border-size: 4px;
    $border: $border-size solid $color-border;
    $padding-h: 40px;
    $padding-v: 30px;
    padding: 10%;

    &-month {
        color: $color-foreground-dark;
        font-size: .8em;
        margin: 0 auto;
        margin-bottom: 20px;
        width: 115vh;
    }

    &-header {
        $height: 10vh;
        background-color: $color-brand;
        color: $color-foreground-light;
        font-size: 4vh;
        height: $height;
        line-height: $height;
        margin: 0;
        text-align: center;
        text-transform: uppercase;
        vertical-align: middle;
        width: 100%;

        &::first-letter {
            font-size: 1.3em;
        }
    }

    &-week {
        background-color: $color-background-light;
        height: 80px;
        line-height: 0;
        list-style: none;
        margin: 0;
        padding: $padding-v ($padding-h - $border-size) 0 $padding-h;
        width: 100%;
    }

    &-week_day {
        border-left: $border;
        border-right: $border;
        color: $color-foreground-semidark;
        display: inline-block;
        font-size: 3vh;
        margin-left: -$border-size;
        padding-top: .6em;
        text-align: center;
        width: (100% / 7);

        &:after {
            content: '';
            display: block;
            padding-bottom: 100%;
        }
    }

    &-days {
        background-color: $color-background-light;
        line-height: 0;
        list-style: none;
        margin: 0;
        padding: 0 ($padding-h - $border-size) $padding-v $padding-h;
    }

    &-day {
        border: $border;
        display: inline-block;
        margin-left: -$border-size;
        margin-top: -$border-size;
        position: relative;
        width: (100% / 7);

        &:after {
            content: '';
            display: block;
            padding-bottom: 100%;
        }

        &--void {
            &:hover {
                background: transparent;
                cursor: not-allowed;
            }
        }
    }

    &-day_wrapper {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    &-day_info {
        color: $color-foreground-semidark;
        font-size: 1.5em;
        position: absolute;
        right: 10%;
        top: 10%;
    }

    &-day_events {
        bottom: 0;
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        width: 100%;
    }

    &-day_event {
        cursor: pointer;
        display: block;
        line-height: 1em;
        overflow-x: hidden;
        padding: 5px;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;

        &:hover {
            background: rgba($color-brand, .3);
        }

        &--add {
            font-weight: bold;
            text-align: center;

            &:hover {
                background: transparent;
                color: $color-brand;
                font-size: 1.2em;
            }
        }
    }
}
