@import '../../base/variables';

.cal-months {
    $border-size: 4px;
    $border: $border-size solid $color-border;
    $padding-h: 40px;
    $padding-v: 30px;
    padding: 10%;

    &-month {
        color: $color-foreground-dark;
        font-size: .8em;
        margin: 0 auto;
        margin-bottom: 20px;
        min-width: 700px;
        width: 115vh;
    }

    &-header {
        $height: 10vh;
        background-color: $color-brand;
        color: $color-foreground-light;
        font-size: 4vh;
        height: $height;
        line-height: $height;
        margin: 0;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        vertical-align: middle;
        width: 100%;

        &::first-letter {
            font-size: 1.3em;
        }
    }

    &-arrow {
        cursor: pointer;
        left: 5vh;
        position: absolute;
        top: 0;

        &--right {
            left: initial;
            right: 5vh;
        }
    }

    &-week {
        background-color: $color-background-light;
        height: 80px;
        line-height: 0;
        list-style: none;
        margin: 0;
        padding: $padding-v 0 0 $padding-h;
        width: 100%;
    }

    &-week_day {
        border-left: $border;
        border-right: $border;
        color: $color-foreground-semidark;
        display: inline-block;
        font-size: 2.8vh;
        margin-left: -$border-size;
        padding-top: .6em;
        text-align: center;
        width: (100% / 7);

        &:after {
            content: '';
            display: block;
            padding-bottom: 100%;
        }
    }

    &-days {
        background-color: $color-background-light;
        line-height: 0;
        list-style: none;
        margin: 0;
        padding: 0 0 $padding-v $padding-h;
    }

    &-day {
        border: $border;
        display: inline-block;
        margin-left: -$border-size;
        margin-top: -$border-size;
        position: relative;
        width: (100% / 7);

        &:after {
            content: '';
            display: block;
            padding-bottom: 100%;
        }

        &--void {
            &:hover {
                background: transparent;
                cursor: not-allowed;
            }
        }
    }

    &-day_wrapper {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    &-day_info {
        $size: 1.2em;
        background-color: rgba($color-background-light, .8);
        border-radius: 50%;
        color: $color-foreground-semidark;
        font-size: $size;
        height: $size;
        line-height: $size - .3em;
        padding: 3px;
        position: absolute;
        right: 3%;
        top: 4%;
        width: 1.5em;
        z-index: 10;
    }

    &-day_events {
        bottom: 0;
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        width: 100%;
    }

    &-day_event {
        cursor: pointer;
        display: block;
        line-height: 1em;
        overflow-x: hidden;
        padding: 5px;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;

        &:hover {
            background: rgba($color-brand, .3);
        }

        &--add {
            font-weight: bold;
            text-align: center;

            &:hover {
                background: transparent;
                color: $color-brand;
                font-size: 1.2em;
            }
        }
    }

    &-add {
        cursor: pointer;
        left: 4%;
        position: absolute;
        top: 9%;

        &:hover {
            font-weight: 600;
        }
    }

    &-thumb {
        position: absolute;
        top: -80%;
        width: 33%;

        &--1_1 {
            left: 22%;
            top: -430%;
            width: 64%;
        }

        &--1_2 {
            left: 0;
            top: -165%;
            width: 50%;
        }

        &--2_2 {
            right: 0;
            top: -165%;
            width: 50%;
        }

        &--1_3 {
            left: 0;
            top: -80%;
            width: 33.3333%;
        }

        &--2_3 {
            left: 33.3333%;
            top: -80%;
            width: 33.3333%;
        }

        &--3_3 {
            right: 0;
            top: -80%;
            width: 33.3333%;
        }
    }

    &-thumb_image {
        max-width: 100%;
    }
}
